<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulário de Exemplo</title>
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>

  <body>
    <form action="/formulario" method="post">
      <input type="hidden" name="_csrf" value='<%= csrfToken %>'>

      <label for="title">Título:</label>
      <input type="text" name="title" />

      <label for="description">Descrição:</label>
      <input type="text" name="description" />

      <button type="submit">Enviar</button>
    </form>
  </body>
</html>
