- const pageTitle = 'Formulário'

include includes/head

body
  form(action="/formulario" method="post")
    input(type="hidden" name="_csrf" value=`${csrfToken}`)

    label(for="title") Título:
    input(type="text" name="title")

    label(for="description") Descrição:
    input(type="text" name="description")

    button(type="submit") Enviar

  include includes/footer