- const title = 'Meus contatos'

include includes/head

body
  include includes/navbar

  .container
    .row
      .col-auto

      div(class="col-lg my-3")
        if user
          h1(class="text-center") Lista de Contatos
          p(class="text-center lead mb-5") Seus contatos estão abaixo.
        else
          include includes/wellcome

        include includes/flashMessage

        if errorsMessages.length
          +flashMessage({ type: 'danger', messages: errorsMessages })

        if successMessage.length
          +flashMessage({ type: 'success', messages: successMessage })

        include includes/contactsTable

        if contacts && Object.keys(contacts).length
          +makeContactsTable(contacts)
        else
          p(class="text-center lead text-muted") Não existem contatos na sua agenda

      .col-auto

  include includes/footer