- const title = 'Contatos'

include includes/head

body
  include includes/navbar

  .container
    .row
      .col-lg-2

      div(class="col-lg-8 my-3")
        h1(class="text-center") Lista de Contatos
        p(class="text-center lead") Seus contatos estão abaixo.

        include includes/flashMessage

        if errorsMessages.length
          +flashMessage({ type: 'danger', messages: errorsMessages })

        if successMessage.length
          +flashMessage({ type: 'success', messages: successMessage })

        include includes/contactsTable

        if contacts
          +makeContactsTable(contacts)

      .col-lg-2

  include includes/footer